* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    background-color: #ffffff;

}
#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    /* left: -300px; 
    transition: 500ms linear; */
    
}

#sidebar.active {
    left: 0;
}
#sidebar ul li { 
    text-align: center;
    padding: 20px 10px;
    list-style: none;
    border-bottom: 2px solid white;
}
.logo {
    border-radius: 20%;
    display: block;
    margin: 0 auto;
    height: 150px;
}
.contenedor {
   text-align: center;
   margin-top: 1rem;
   margin-left: 1rem;
   margin-bottom: .5rem;
}

/* #sidebar .toggle-btn {
    position: absolute;
    left: 320px;
    top: 20px;
    cursor: pointer;
    color: white;
}
#sidebar .toggle-btn span {
    display: block;
    width: 50px;
    text-align: center;
    font-size:30px;
    border: 1px solid #0119B9;
} */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    
}

.modal-contenido{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 100px;
    border-radius: 20px;
    box-shadow: -20px 20px 23px 5px rgb(8, 2, 17);
    background-color: white;    
    
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.enlace{
   margin-left: .5rem;
   
}*/
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contenedor li {
    list-style: none;
}
.enlace {
    display: flex; 
    align-items: center; 
    color: white;
    font-weight: 1000;
    text-decoration: none;
}


/* formulario */
/* formulario vivienda */
.formulario {
    border-radius: 20px;
    font-family: oswald;
    font-size: 20px;   
}
.campo label {  
    font-weight: 500;
    margin-bottom: .5rem;
    
}
.input-text {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
}
input[type="checkbox"] {
    float: right;
    margin-right: 5px; 
    margin-top: 15px;
  }

  /* terminos y condicones  */
  body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.contenedor-tercon {
    margin: 10% 25%;
    box-shadow: 15px 15px 25px 25px;
    border-radius: 10px;
}
 h1 {
    margin-bottom:25px;
    margin-top: 25px;
    padding: 20px;
 }
 .button-tercon{
    margin-bottom:25px;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
 }

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}
